In [2]:
import tabula
import pandas as pd
import csv
import re
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./EstadosDeCuenta/tabula-EstadoDeCuentaMayo.csv', skiprows=[1],index_col='Fecha')

In [4]:
df = df.drop(columns =["Población / RFC", "Otras"])
# Elimina filas donde TODAS las celdas están vacías
df = df.dropna(how="all") 
# Elimina filas si faltan datos clave 
df = df.dropna(subset=["Concepto/Giro de Negocio", "Pesos"])  
# Elimina filas si contienen texto genérico
df = df[df["Concepto/Giro de Negocio"] != "Concepto/Giro de Negocio"]

In [ ]:
df["Pesos"] = (
    df["Pesos"]
    .str.replace(",", "")     # Eliminar comas (ej: 5,600.04 → 5600.04)
    .apply(lambda x: f"-{x[:-1]}" if x.endswith("-") else x) # Reemplazar guiones al final por negativos (ej: 8000.00- → -8000.00)
    .str.replace(r"-$", "", regex=True)  # Eliminar guiones al final (ej: 8000.00- → 8000.00)
  
    .str.replace(r"\.+", ".", regex=True)  # Reemplazar múltiples puntos por uno (ej: 269.00.. → 269.00)
    .str.replace(r"\.{2,}", ".", regex=True)  # Reemplazar 2+ puntos por 1 (269.00. → 269.00)
    .str.replace(r"\.$", "", regex=True) # Eliminar punto al final (269.00. → 269.00)
    .astype(float)            # Convertir a número
)
df

AttributeError: Can only use .str accessor with string values!

In [6]:
df.get("Concepto/Giro de Negocio") 
df

                  Concepto/Giro de Negocio     Pesos
Fecha
May  4       AMAZON MX A MESES M007 de 012    549.72
May  5  CLIPMX*COMIDA CORRIDABLI 120726UF6    235.00
May  6    CARNES QUINTA BELLALAOF880709E47    372.60
May  6               CAFFENIOSAO 030421M70    186.00
May 17               CAFFENIOSAO 030421M70    243.00
May 21    WAL MART HERMOSILLONWM 9709244W4   1011.04
May 21       COSTCO HERMOSILLOCME910715UB9    236.09
May 22                  SU ABONO...GRACIAS -10000.00
May 22                  SU ABONO...GRACIAS -10000.00
May 22                  SU ABONO...GRACIAS  -5865.00
May 23   OXXO MARINA REAL CENCCO 8605231N4    421.00

In [8]:
abono = df[df["Concepto/Giro de Negocio"].str.contains("ABONO", na=False)]["Pesos"].sum()
#print(abono)

-25865.0

In [9]:
df.describe()
#df.sum()

              Pesos
count     11.000000
mean   -2055.504545
std     4356.227851
min   -10000.000000
25%    -2839.500000
50%      236.090000
75%      396.800000
max     1011.040000