In [ ]:
import tabula
import pandas as pd
import csv
import re
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv('./EstadosDeCuenta/tabula-EstadoDeCuentaAbril.csv', skiprows=[1],index_col='Fecha')

In [46]:
df = df.drop(columns =["Población / RFC", "Otras"])
# Elimina filas donde TODAS las celdas están vacías
df = df.dropna(how="all") 
# Elimina filas si faltan datos clave 
df = df.dropna(subset=["Concepto/Giro de Negocio", "Pesos"])  
# Elimina filas si contienen texto genérico
df = df[df["Concepto/Giro de Negocio"] != "Concepto/Giro de Negocio"]  
df["Pesos"] = (
    df["Pesos"]
    .str.replace(",", "")     # Eliminar comas (ej: 5,600.04 → 5600.04)
    .apply(lambda x: f"-{x[:-1]}" if x.endswith("-") else x) # Reemplazar guiones al final por negativos (ej: 8000.00- → -8000.00)
    .str.replace(r"-$", "", regex=True)  # Eliminar guiones al final (ej: 8000.00- → 8000.00)
  
    .str.replace(r"\.+", ".", regex=True)  # Reemplazar múltiples puntos por uno (ej: 269.00.. → 269.00)
    .str.replace(r"\.{2,}", ".", regex=True)  # Reemplazar 2+ puntos por 1 (269.00. → 269.00)
    .str.replace(r"\.$", "", regex=True) # Eliminar punto al final (269.00. → 269.00)
    .astype(float)            # Convertir a número
)
df.head()

                   Concepto/Giro de Negocio    Pesos
Fecha
Abr  4  INTL HMOD FEDEX H CTROFEH 940630UG2   555.52
Abr  5        AMAZON MX A MESES M006 de 012   549.72
Abr 10            NATIONAL SJDCGA 030612RD5  5600.04
Abr 10                   SU ABONO...GRACIAS -8000.00
Abr 11        ZTL*RUBENEDUARDOOPM 150323DI1   165.00

In [ ]:
df.describe()
#df.sum()

             Pesos
count    47.000000
mean    358.892340
std    1514.162726
min   -8000.000000
25%     121.000000
50%     274.000000
75%     617.485000
max    5600.040000